{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <h1 class="mb-4 text-3xl text-orange-600">Your shopping cart</h1>
        <table class="shadow-lg bg-white">
            <thead>
            <tr>
                <th class="bg-orange-100 border text-left text-orange-600 px-4 py-2">Image</th>
                <th class="bg-orange-100 border text-left text-orange-600 px-4 py-2">Product</th>
                <th class="bg-orange-100 border text-left text-orange-600 px-4 py-2">Quantity</th>
                <th class="bg-orange-100 border text-left text-orange-600 px-4 py-2">Remove</th>
                <th class="bg-orange-100 border text-left text-orange-600 px-4 py-2">Unit price</th>
                <th class="bg-orange-100 border text-left text-orange-600 px-4 py-2">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td class="border px-4 py-2">
                            <a href="{{ product.get_absolute_url }}">
                                <img class="h-32 w-auto" src="



                                        {% if product.image %}{{ product.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}">
                            </a>
                        </td>
                        <td class="border px-4 py-2 capitalize">{{ product.name }}</td>
                        <td class="border px-4 py-2">
                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.override }}
                                <input
                                        type="submit"
                                        value="Update"
                                        class="py-2 px-4 bg-green-600 hover:bg-green-500 text-green-100 rounded transition duration-300"
                                >
                                {% csrf_token %}
                            </form>
                        </td>
                        <td class="border px-4 py-2">
                            <form action="{% url "cart:cart_remove" product.id %}"
                                  method="post">
                                <input
                                        type="submit"
                                        value="Remove"
                                        class="py-2 px-4 bg-red-600 hover:bg-red-500 text-red-100 rounded transition duration-300"
                                >
                                {% csrf_token %}
                            </form>
                        </td>
                        <td class="border px-4 py-2">${{ item.price }}</td>
                        <td class="border px-4 py-2 font-bold">${{ item.total_price }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            {% if cart.coupon %}
                <tr class="text-orange-600">
                    <td class="border px-4 py-2 text-lg">Subtotal</td>
                    <td class="border px-4 py-2" colspan="4"></td>
                    <td class="border px-4 py-2 text-2xl font-bold">${{ cart.get_total_price|floatformat:2 }}</td>
                </tr>
                <tr class="text-orange-600">
                    <td class="text-sm">
                        "{{ cart.coupon.code }}" coupon
                        ({{ cart.coupon.discount }}% off)
                    </td>
                    <td class="border px-4 py-2" colspan="4"></td>
                    <td class="border px-4 py-2 text-2xl font-bold">- ${{ cart.get_discount|floatformat:2 }}</td>
                </tr>
            {% endif %}
            <tr class="bg-orange-200 text-orange-600 italic font-semibold">
                <td class="border px-4 py-2 text-xl">Total</td>
                <td class="border px-4 py-2" colspan="4"></td>
                <td class="border px-4 py-2 text-2xl font-bold">
                    ${{ cart.get_total_price_after_discount|floatformat:2 }}</td>
            </tr>
            </tbody>
        </table>
        <div class="py-4 md:w-2/5">
            <p class="text-3xl text-orange-600">Apply a coupon</p>
            <form action="{% url "coupons:apply" %}" method="post">
                {{ coupon_apply_form }}
                <input
                        type="submit"
                        value="Apply"
                        class="mt-4 py-2 px-4 bg-orange-600 hover:bg-orange-500 text-orange-100 rounded transition duration-300"
                >
                {% csrf_token %}
            </form>
        </div>
        <div class="py-4 text-right">
            <a href="{% url "shop:product_list" %}"
               class="py-2 px-4 bg-orange-600 hover:bg-orange-500 text-orange-100 rounded transition duration-300"
            >
                Continue shopping</a>
            <a href="{% url "orders:order_create" %}"
               class="py-2 px-4 bg-green-600 hover:bg-green-500 text-green-100 rounded transition duration-300"
            >
                Checkout
            </a>
        </div>
    </div>
{% endblock %}
