{% extends "shop/base.html" %}
{% block title %}
    Checkout
{% endblock %}
{% block content %}
    <div class="container mx-auto px-4 bg-orange-100 text-orange-600">
        <h1 class="text-3xl font-bold text-center mt-4 text-orange-700">Checkout</h1>
        <div class="md:flex">
            <div class="p-4 m-2">
                <h3 class="font-bold text-lg italic">Your order</h3>
                <ul>
                    {% for item in cart %}
                        <li class="my-2 text-sm">
                            {{ item.quantity }} x {{ item.product.name }}
                            <span class="font-bold">${{ item.total_price|floatformat:2 }}</span>
                        </li>
                    {% endfor %}
                    {% if cart.coupon %}
                        <li class="my-2 text-sm">
                            "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
                            <span class="font-semibold">- ${{ cart.get_discount|floatformat:2 }}</span>
                        </li>
                    {% endif %}
                </ul>
                <p class="text-lg font-bold">Total: ${{ cart.get_total_price_after_discount|floatformat:2 }}</p>
            </div>
            <div class="w-3/4 p-4 m-2">
                <form method="post">
                    {{ form.non_field_errors }}
                    {{ form }}
                    <input
                            type="submit"
                            value="Place order"
                            class="mt-4 py-2 px-4 bg-orange-600 hover:bg-orange-500 text-orange-100 rounded transition duration-300"
                    >
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
